/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Styles */
@font-face {
  font-family: "Ruhl";
  src: url("../fonts/FrankRuhlLibre-Regular.ttf");
}

@font-face {
  font-family: "Ruhl Medium";
  src: url("../fonts/FrankRuhlLibre-Medium.ttf");
}

@font-face {
  font-family: "Vibes";
  src: url("../fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "New Tegomin";
  src: url("../fonts/NewTegomin-Regular.ttf");
}

/* Home Page */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
}

li {
  font-weight: 500;
  font-family: "New Tegomin";
}

p {
  font-size: 2.8rem;
  font-family: "New Tegomin";
}

button,
label,
input {
  font-size: 2.4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4,
h5 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2.4rem;
  font-weight: 500;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Ruhl", sans-serif;
  animation: opening 1s ease-in-out;
}
h1 {
  font-family: "Vibes", sans-serif;
}

/* Nav Section*/

.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
  background-color: #b49999;
}

a:hover {
  color: rgb(104, 117, 111);
}

#logo {
  flex: 1 1 20rem;
  padding-left: 5rem;
  font-size: 4rem;
  font-weight: 500;
}

.title {
  font-size: 8rem;
  font-family: "Vibes", sans-serif;
  color: #423e3e;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.hero-introduction {
  flex: 2 1 40rem;
  text-align: center;
}

.hero-introduction p {
  padding: 5rem 10rem;
  color: #525252;
}

.hero-introduction h2 {
  padding-top: 3rem;
}

.hero-introduction a {
  padding: 2rem 8rem;
  margin-bottom: 4rem;
}

.hero-images {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
  position: relative;
  z-index: 1;
}

.hero-NataliaTaylor {
  width: 135%;
  height: 100%;
  object-fit: cover;
}

.link-portfolio {
  border-radius: 4%;
  background-color: rgb(158, 170, 164);
  margin-bottom: 4rem;
  padding: 2rem 8rem;
  border: 2px solid black;
  margin-top: 4rem;
  box-shadow: 5px 5px 5px grey;
}

.socialMedia ul {
  display: flex;
  justify-content:center;
  flex: 1 1 40rem;
  align-items: center;

}

.socialMedia {
  margin: 1rem 0rem 3rem 0rem;
}

/* .socialMedia ul li img {
  border: none;
  padding: 1.5rem;
  margin: 1rem 1rem;
  border-radius: 20%;
} */

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards,
    plant-shake 2.5s infinite ease alternate-reverse 2s;
  transform-origin: bottom;
  max-height: 100%;
}

.plant2 {
  left: 70%;
}

/*Animations*/

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(-0deg);
  }
}
@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.burger,
.menu-check {
  display: none;
}

/*Footer Section*/
footer {
  background: #525252;
  color: white;
  display: flex;
  padding: 3rem 5%;
  align-items: center;
  flex-wrap: wrap;
}

.footer2 ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
} 

footer h4 {
  flex: 3 1 40rem;
  font-size: 2rem;
  text-align: center;
}

button:focus {
  background: gray;
  color: white;
}

input:focus {
  border: 4px solid rgb(148, 148, 197);
}


/*portfolio section*/
.wrapper {
  width: 100%;
  padding-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  font-family: "New Tegomin";
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
  color: white;
  background-color: #a2a59c;
}

.Portfolio-title {
  text-align: center;
  font-size: 9rem;
  font-weight: 500;
  padding-top: 3rem; 
}

.polaroid {
  background: rgb(255, 255, 255);
  padding: 3rem;
  box-shadow: 30px 20px 30px rgb(92, 87, 87); 
  height: 80%;
  margin-left: 5rem;

}

.polaroid img {
  max-width: 100%;
  height: auto;
}

.caption {
  font-size: 6rem;
  text-align: center;
  line-height: 2rem;
}

.caption a {
  font-size: 4.3rem;
  font-weight: 600;
}

.item {
  width: 32%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(70%);
}
.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) {
  transform: scale(0.8, 0.8) rotate(4deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n + 2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n + 4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

.item:nth-of-type(4n + 3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}

.item:hover .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}
/*portfolio section ends */

/*Testimonials section starts*/
.card-top-title {
  text-align: center;
  font-size: 8rem;
  margin-top: 2rem;
 
}

.card-text {
  font-size: 2.5rem;
  padding: 0rem 1.8rem;
}


.body-testimonials {
 background-color: grey;
}

.styleImg {
 border-radius: 50%;
 border: 0.3rem solid #e6eee9;
}

.card {
  border: none;
  margin-bottom: 50px;
  background-color: grey;
}

.card-title {
   margin-left: 1.8rem;
   color: rgb(196, 193, 193);
}

.card-text-bottom {
  font-size: 2.5rem;
  color: rgb(85, 90, 82);
  font-weight: 800;
  margin-left: 1.8rem
}

/*Testimonials section ends*/


 /*Media Query starts*/

@media screen and (max-width: 1343px) {
  .hero {
    width: 100%;
  }

  .title {
    font-size: 7rem;
  }

  .hero-introduction p {
    padding: 5rem 3rem;
  }

  /*Burger Thing*/

  .burger {
    position: relative;
    display: block;
    cursor: pointer;
    margin-right: 5rem;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #525252;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }

  .nav-links {
    color: white;
    font-size: 4rem;
    font-weight: 600;
  }

  .nav-links {
    background: #686363;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .nav-open li a {
    color: white;
    font-weight: 500;
  }

  .nav-open {
    transform: translate(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toogle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  .toogle .line4 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  .toogle .line5 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }
}

@media screen and (max-width: 1240px) and (min-width: 850px) {
.item {
    height: 100%;
    width: 40%;
    margin-left: 3rem;

  }
}
@media screen and (max-width: 850px) and (min-width: 320px) {
  .hero {
    width: 100%;
  }
  html {
    display: flex;
  }
  .socialMedia {
    display: none;
  }
  #logo {
    font-size: 2.5rem;
  }
  .title {
    font-size: 5rem;
  }
  .photography {
    font-size: 2.7rem;
  }
  .quote {
    font-size: 2rem;
  }
  .link-portfolio {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .hero-introduction a {
    padding: 1rem 2rem;
  }

  .caption a {
    font-size: 2.3rem;
  }

  .item {
    height: 100%;
    width: 40%;
    margin-left: 3rem;

  }
}

@media screen and (max-width: 550px) and (min-width: 320px) {
  .caption a {
    font-size: 1.5rem;
  }

  .item {
    height: 100%;
    width: 80%;

  }
}

/*Media Query ends*/
